{% extends 'base.html' %}


{% block content %}
{% load static %}
<div class="row">
    <div class="col">
        <label>Поисковая строка</label>:
        <input type="text" class="form-control" id="search">
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                Асинхронное взаимодействие
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="d-grid gap-2 mb-3">
                            <button type="button" class="btn btn-primary"
                                    onclick="load_data_async()">Загрузить данные асинхронно</button>
                        </div>
                        <ul>
                            <li><b><u>Статус выполнения:</u></b> <span id="ajax_status"></span></li>
                            <li><b><u>Загруженные данные:</u></b><br><span id="ajax_data"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="{% static 'chem.png' %}">
{% endblock %}


{% block extra_js %}
<script>
    function load_data_async() {
        // Создание
        let r = new XMLHttpRequest()

        let url = "/data/?search_text=" + search.value

        // Настройка
        r.open(method="GET", url=url, async=true)
        r.onload = function () {
            data = JSON.parse(r.response)
            ajax_status.innerHTML = data.status
            ajax_data.innerHTML = data.data
        }
        r.onerror = function () {
            ajax_status.innerHTML = 'error'
        }

        // Запуск
        r.send()
    }

    function load_data_sync() {
        let r = new XMLHttpRequest()
        r.open(method="GET", url="/data/", async=false)
        r.send()
        data = JSON.parse(r.response)
        ajax_status_sync.innerHTML = data.status
        ajax_data_sync.innerHTML = data.data
    }
</script>
{% endblock %}
